<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
</svg>
<div class="position-absolute top-0 end-0" style="z-index: 1000; margin: 135px 48px">
    <div class="alert alert-success d-flex align-items-center alert-dismissible fade show py-3"
         id="success-alert" role="alert" style="width: auto" th:if="${message}">
        <svg aria-label="Success:" class="bi flex-shrink-0 me-2" height="23px" role="img" width="23px">
            <use xlink:href="#check-circle-fill"/>
        </svg>
        <div><span th:text="${message}"></span></div>
        <button aria-label="Close" class="btn-close" data-bs-dismiss="alert" type="button"></button>
    </div>
</div>


<script type="text/javascript">
    $('#success-alert').slideDown(function () {
        setTimeout(function () {
            $('#success-alert').remove();
        }, 3000);
    });
</script>